body
{
	background-image: url(Biblioteca.JPG);
	background-color: lightblue;
	background-size: 100vw 100vh;
	font-size: 25px;
    margin: 0;
}
div
{
	margin: .4em 0;
}
div input
{
	width: .4em 0;
	float: right;
}
button#buscar
{
	width: .8em 0;
	float: right;
	cursor: pointer;
}
div label
{
	width: .4em 0;
	float: left;
}
h1
{
	font-size: 50px;
	font-weight: bold;
	color: #114000;
	text-align: center;
}
label
{
	font-size: 20px;
	color: black;
}
fieldset
{
	align-items: center;
	border: 200px 400px;
	border-color: orange;
	text-align: center;
}
input
{
	font-size: 16px;
	font-style: italic;
}
input:focus
{
	border: 2px solid: #000;
	background: #C0C0C0;
}
form#form1
{
	background: rgba(0,0,0,0.8);
	background-color: #F3F3F3;
	background-attachment: fixed;
	padding: 100px 200px;
	border-color: white;
	margin: auto;
	box-sizing: border-box;
	margin-right: 200px; 
	margin-left: 200px;
	margin-top: 20px;
	border-radius: 20px;
}
form#form2
{
	background: rgba(0,0,0,0.8);
	background-color: #F3F3F3;
	background-attachment: fixed;
	border-color: black;
	padding: 100px 50px
	margin: auto;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;
}
button
{
	cursor: pointer;
	font: "Times New Roman";
}